*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(to right, #305f72, #568EA6, white);
  background-color: #305f72;
  color: white;
  font-family: 'PT Sans Narrow', sans-serif;
  min-width: 100vh;
}

header {
  font-family: "Lobster", cursive;
  color: white;
  font-size: 10 rem;
  font-weight: bold;
}

header,
 form {
  min-height: 8vh;
  text-shadow: 2px 2px #f18c8e;
  display: flex;
  justify-content: center;
  align-items: center;
}

input.todo-input{
  min-width: 20vh;
  padding: 3px;
}

form input, form button{
  padding: 0.5 rem;
  font-size: 2 rem;
  border: none;
  background: white;
}

form button{
  color: #f18c8e;
  background: white;
  padding: 3px;
  cursor: pointer;
  transition: all 0.3s ease;
  border:none;
}

form button:hover {
  background: grey;
  color: white;
}

.todo-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

ul.todo-list{
  min-width: 30%;
  list-style: none;
}

.todo{
  margin: 0.5rem;
  background:white;
  color: black;
  font-size: 1.5 rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 1s ease;
}

.todo li{
  flex: 1;
}

.trash-btn, .complete-btn{
  background:#f18c8e; 
  color: white;
  border: none;
  padding: 6px;
  cursor: pointer;
  font-size: 1 rem;
}

.complete-btn{
  background: lightgreen;
}

.todo-item{
  padding: 0rem 0.5rem;
}

.fa-trash, .fa-check{
  pointer-events: none;
}

.completed{
  text-decoration: line-through;
  opacity: 0.5;
}

/* div#box {
  margin: auto;
  width: 65%;
  width: 300px;
  padding: 30px;
}

input#text{
    font-size: 20px;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    font-weight:bold;
    color: #305f72;
    font-family: 'PT Sans Narrow', sans-serif;
    padding: 10px;
    width:250px;
    border: none;
}

button#submit {
  margin: auto;
  margin-top: 20px;
  font-weight:bold;
  font-size: 20px;
  font-family: 'PT Sans Narrow', sans-serif;
  background-color:#f18c8e;
  color:white;
  border: none;
  padding-right: 6px;
  padding-left: 6px;
  display:inline-block;
  margin-right: -70px;
}
button#reset {
    margin: auto;
    margin-top: 20px;
    font-weight:bold;
    font-size: 20px;
    font-family: 'PT Sans Narrow', sans-serif;
    background-color:#f18c8e;
    color:white;
    border: none;
    padding-right: 6px;
    padding-left: 6px;
    display:inline-block;
  }

button.delete {
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    font-weight:bold;
    font-size: 20px;
    font-family: 'PT Sans Narrow', sans-serif;
    background-color:white;
    color:#f18c8e;
    border: none;
    padding-right: 6px;
    padding-left: 6px;
    border-color: white;

  }

button#submit:hover, button.delete:hover, button#reset:hover{
    background-color:silver;
}

div#buttons{
  
    display: flex;
}

ol {
  margin-top: 50px;
 text-align: "center";
  margin: auto;
  width: 50%;
  width: 250px;
  padding: 50px;
  font-size: 20px;
  border: none;
  color: white;
}

li.completed {
  text-decoration: line-through;
}
 */